body{
    background-image: url(../media/fondo.jpg);
}
h4 {
    margin: 20px;
}
.container{
    background-color: transparent;
}


.select-peque {
    width: 200px;/* Ancho del select */
    height: 30px;/* Altura del select */
    font-size: 14px;/* Tamaño del texto */
    padding: 5px;/* Espaciado interno */
    margin: 20px;
}

.content {
    margin: 20px;
    font-size: 18px;
    color: white;
}

.espacio{
    margin-top: 90px;
    background-color: transparent;
}

.tamaño-img{
    width: 100%;        /* Asegura que la imagen ocupe todo el ancho disponible */
    height: 200px;      /* Define una altura fija para todas las imágenes */
    object-fit: cover;  /* Ajusta la imagen para llenar el espacio sin deformarse */
    object-position: center; /* Centra el contenido de la imagen */
}

.img-navbar{
    height: 40px; /* Ajusta la altura al tamaño deseado */
    width: auto;  /* Mantén la proporción de la imagen */
    margin-right: 20px;
}